<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"
      rel="stylesheet"
    />
    <title>BikeShop - Home</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- HEADER -->
      <div class="row">
        <nav class="header col-12 navbar navbar-light bg-dark">
          <a class="navbar" href="/">
            <img
              src="/images/bike-logo.svg"
              width="50"
              height="50"
              class="logo"
              alt=""
            />
            The Bike Shop Experience
          </a>
        </nav>
      </div>

      <!-- JUMBOTRON -->
      <div class="row">
        <div class="col-12 jumbotron jumbotron-fluid">
          <div class="container"></div>
        </div>
      </div>

      <div class="row-queue">
        <h2>
          Notre site est victime de son succès, veuillez réessayer
          ultérieurement.
        </h2>
        <img
          src="http://www.quickmeme.com/img/0a/0ae29ecd16628a34cb34f6db8b379090500a76ee679aa21f71fcee00c81ed3ce.jpg"
          id="patience-img"
        />
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
